<div class="card mb-3" data-controller="removal-field" data-removal-field-object-name-value="<%= f.object_name %>">
  <div class="card-header d-flex align-items-center">
    <div>
      登壇者
    </div>
    <div class="ms-auto">
      <% action = f.object.new_record? ? "remove" : "replace" %>
      <span class="fs-5 text-danger cursor-pointer" data-action="click->removal-field#<%= action %>">
        <i class="bi bi-dash-circle"></i>
      </span>
    </div>
  </div>
  <div id="card-body">
    <div class="p-4">
      <%= f.input :name %>
      <%= f.input :title %>
      <%= f.input :start_time, html5: true %>
      <%= f.input :end_time, html5: true %>
    </div>
  </div>
</div>
